* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #dedede;
  cursor: pointer;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 50px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://wallpaperaccess.com/full/1816847.jpg");
  /*background: #e9e9e9;*/
  display: flex;
}

.login .loginContainer {
  padding: 80px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #17ced0;
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  color: white;
  margin: 14px 0;

  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;

  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .loginContainer .btnContainer p span {
  color: #916e95;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: #916e95;
}

.login .loginContainer .errorMsg {
  color: #f8f8f8;
  font-size: 16px;
}

.home {
  width: 100%;
  min-height: 100vh;

}

.home nav {
  background: aliceblue;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home nav h2 {
  color: #fff;
}

.home nav button {
  width: 86px;
  padding: 8px 0;
  background: cornflowerblue;
}
