#app { height: 100% }
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 24%;
    background: #000;
}

.swiper-slide {
    font-size: 18px;
    color: #182116;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
}

.swiper-slide .subtitle {
    font-size: 21px;
}

.swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
}



@media only screen and (min-width: 640px) {
    .toutContent {
        max-width: 1600px;
        margin-bottom: 120px;
    }
}
.toutCopy {
    padding-left: 20px;
}

@media only screen and (min-width: 640px) {
    .toutCopy {
        padding: 130px;
    }
}

.toutHeader {
    font-size: 34px;
    color: #00cf75;
    margin-bottom: 1rem;
}

.toutText {
    max-width: 470px;
    display: inline-block;
}

.toutImage {
    background-image: url(https://source.unsplash.com/user/erondu/800x600);
    transition: background-size 0.4s ease-out;
    min-height: 265px;
}

.toutContent-bg-purple::before {
    content: " ";
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 100%;
    z-index: -1;
    background-color: #7535de;
    left: 0px;
    transform-origin: left;
    transition: transform 0.6s;
}

.appear::before {
    transform: scaleX(1);
}
/* Image with overlapping text */

.tout-overlap {
    background-image: url(https://source.unsplash.com/user/erondu/800x600);
    background-size: 75% 100%;
    background-repeat: no-repeat;
    padding-bottom: 70px;
    padding-top: 70px;
}

.toutCopy--overlap {
    padding: 70px;
    color: #fff;
    background-color: #00cf75;
    position: relative;
}

.toutHeader--overlap {
    color: #fff;
    font-size: 34px;
    margin-bottom: 1rem;
}

.toutText--overlap {
    max-width: 470px;
}

.tout-overlap-copy--parallax-right {
    margin-left: auto;
}

.tout-overlap-copy--parallax-left {
    margin-right: auto;
}

/* Big Text overlping Little Text */

.background-big-text {
    font-size: 450px;
    color: #e2e2e2;
}

.foreground-little-text {
    color: #00cf75;
    max-width: 1060px;
    padding-top: 170px;
    padding-bottom: 170px;
}

/* CTAs and objects */

.cta {
    background-color: #00cf75;
    border: 1px solid #ffffff;
}

.cta a {
    font-size: 1.1rem;
    line-height: 1;
}

.bg-green {
    background-color: #00cf75;
    color: #fff;
}

.bg-green .cta {
    background-color: #ffffff;
    color: #00cf75;
}

.bg-purple h1,
.bg-green h1,
.toutContent-bg-purple h1 {
    color: #fff;
}

.bg-purple {
    background-color: #7535de;
    color: #fff;
}

.bg-purple .cta,
.toutContent-bg-purple .cta {
    background-color: #7535de;
}

.bg-orange {
    background-color: #dc7d07;
    color: #ffffff;
}

.bg-orange .cta {
    background-color: #ffffff;
    color: #dc7d07;
}

/* Main Nav */

.nav-bar {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    display: flex;
    z-index: 1;
    transition: top 0.4s;
}

.nav-bar--hidden {
    top: -65px;
}

.nav-bar ul {
    list-style-type: none;
    margin-left: auto;
    display: inline-block;
    width: auto;
}

.nav-bar ul li {
    display: inline-block;
    padding: 20px;
    color: #ffffff;
    font-size: 17px;
    font-family: gingerRegular, sans-serif;
    font-weight: bold;
}

.nav-bar__logo {
    background-color: #00cf75;
    color: #fff;
    align-items: center;
    text-align: center;
    width: 250px;
}

.nav-bar-body-scroll {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Article Cards (ALL CHANGE) */

.article-collection {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1600px;
    padding-bottom: 100px;
    margin-bottom: 100px;
}
@media only screen and (min-width: 640px) {
    .article-collection .article-card:nth-child(3n + 2) {
        top: 100px;
    }
}

.article-card {
    flex: none;
    min-height: 400px;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    /* padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px; */
    font-family: gingerRegular, sans-serif;
    opacity: 0;
    transition: all 0.5s ease-out;
    cursor: pointer;
}

@media only screen and (min-width: 640px) {
    .article-card {
        flex: 1 0 30%;
        min-height: 600px;
        margin-right: 20px;
        margin-top: 60px;
    }
}

.article-card__background-image {
    /* background-image: url(https://source.unsplash.com/user/erondu/1600x900);
    background-size: cover;
    background-position: center center; */
}

.article-card::after {
    content: "";
    background: url(https://source.unsplash.com/user/erondu/1600x900);
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.article-card:hover::after {
    opacity: 0;
}

.article-card:hover {
    background-color: #00cf75;
}

.article-header {
    font-weight: normal;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 24px;
}

.article-intro {
    color: #fff;
    line-height: 1.2;
}

.card-appear {
    margin-top: 20px;
    opacity: 1;
}

.view-article {
    position: absolute;
    bottom: 40px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
}

.view-article-line {
    width: 56px;
    display: inline-block;
    height: 2px;
    background-color: #fff;
    vertical-align: middle;
    margin-right: 10px;
    transform: scaleX(0);
    transition: transform 0.4s ease-out;
    transform-origin: left;
}

.extend-line {
    transform: scaleX(1);
}

.view-article:hover .extend-line {
    animation: view-article-hover 0.4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes view-article-hover {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

/* Standard syntax */
@keyframes view-article-hover {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

.view-article-link {
    display: inline-block;
}

/* Pullout */

.pullout-content {
    padding-top: 50px;
    max-width: 1600px;
}

@media only screen and (min-width: 640px) {
    .pullout-content {
        padding-top: 80px;
    }
}

.pullout-image {
    min-height: 400px;
    background-image: url(https://source.unsplash.com/user/erondu/1600x900);
    background-size: cover;
    background-position: center center;
    bottom: -80px;
    margin-left: auto;
}

/* Slick Custom CSS */

.slick-track {
    display: flex;
    margin-left: -20px;
}

.card-slider {
    padding-bottom: 50px;
    padding-top: 50px;
    border-right: 3px solid #00cf75;
}

.slider-card {
    width: 240px;
    position: relative;
    margin-right: 10px;
}

@media only screen and (min-width: 640px) {
    .slider-card {
        max-width: 520px;
        width: 100%;
        position: relative;
        margin-right: 40px;
    }
}

.slick-slide:nth-child(even) .slider-card {
    top: 100px;
}

.slick-list {
    margin-bottom: 100px;
}

.slick-dots {
    padding-top: 40px;
    margin-bottom: 100px;
}

.slick-dots li {
    display: inline-block;
    width: 175px;
    border-top: 1px solid #333;
    margin-right: 5px;
    transition: all 0.2s ease;
}

.slick-dots li button {
    display: none;
}

.slick-dots li.slick-active {
    border-top: 5px solid #333;
}

/* DUMMY PAGE HERO */
.page-hero {
    background-image: url(https://source.unsplash.com/user/erondu/1600x900);
    background-size: cover;
    background-color: #444444;
    position: relative;
}
